.form {
    display: flex;
    flex-direction: column;

    &__custom-select {
        margin: 10px 0px;
        font-size: 14px;
    }

    &__btn {    
        padding: 10px 20px;
        background: #75d3fd96;
        margin: 20px auto 0;
        max-width: 150px;
        cursor: pointer;
    }

    &__field-error {
        color: red;
    }

}