.id{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.prioritet {
    display: flex;
    align-items: center;
}

.prioritet__circle {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.prioritet__circle_soon {
    background: red;
}

.prioritet__circle_late {
    background: green;
}

.field {
    font-size: 17px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.field-status {
    align-items: baseline;
    &__select{
        margin-left: 15px;
    }
}

