*,
::after,
::before {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.App {
  overflow: hidden;
  background: #f9f3bf;
  min-height: 100vh;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 30px;
  width: 100%;
  max-width: 1920px;
  margin: 80px auto;
}

@import './components/ReactSelect/ReactSelect.module.scss'
